.karma {
    min-width: 5vw;
    gap: .26vw;
    align-items: center;

    button {
        border: none;
        background: none;
        cursor: pointer;

        svg {
            width: .64vw;
            height: .64vw;

            background-color: var(--on-primary-color);
            border-radius: 1.56vw;
            padding: .2vw;

            &:hover path {
                fill: var(--focus-color);
            }
        }
    }
}