#__next > div header {
    // we need to change font-family of all divs except 'hot-news'
    :not(#hot-news-headers *) {
        font-family: var(--font-unifraktur-cook);
    }

    #header-top {
        position: relative;
        align-items: center;
        padding-bottom: .52vw;

        &::before {
            content: '';
            position: absolute;
            bottom: -0.11vw;
            left: 0;
            width: 100%;
            height: .11vw;
            background-color: var(--on-primary-color);
            z-index: -1;
        }

        nav {
            margin-top: .8vw;
            width: 28.96vw;

            ul li a {
                font-size: var(--m-font-size);
                position: relative;

                &.activeCategory {
                    color: var(--primary-color);

                    &::before {
                        opacity: 1;
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: -0.42vw;
                    left: -.52vw;
                    width: 100%;
                    height: 100%;
                    padding: .98vw .52vw .57vw;
                    border-bottom: var(--focus-color) .11vw solid;
                    background-color: var(--on-primary-color);
                    opacity: 0;
                    z-index: -1;
                }

                &:hover {
                    color: var(--primary-color);

                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
    }

    #header-bottom {
        margin-top: .68vw;

        #header-date span:first-child {
            color: var(--focus-color);
            margin-right: 1.15vw;
        }

        ul {
            gap: 1.56vw;

            li:hover::first-letter {
                color: var(--focus-color);
            }

            :not(li:last-child a, li:last-child) {
                position: relative;

                &::after {
                    content: '*';
                    position: absolute;
                    right: -1vw;
                    top: .16vw;
                }
            }
        }
    }
}