@use 'header';
@use 'footer';

$side_paddings: 18.23vw;
$base-font-size: .94vw;

:root {
    --m-font-size: 1.5em;
    --big-font-size: 3em;

    --font-crimson-text: 'Crimson Text', serif;
    --font-unifraktur-cook: 'UnifrakturCook', cursive;

    --primary-color: #0B0B0B;
    --focus-color: #FF00F5;
    --on-primary-color: white;
}

* {
    font-family: var(--font-crimson-text);
    font-size: $base-font-size;
    color: var(--on-primary-color);
}

::-moz-selection {
    background: var(--focus-color);
    color: var(--primary-color);
}

::selection {
    background: var(--focus-color);
    color: var(--primary-color);
}

body {
    background-color: var(--primary-color);
    background-image: url('../public/img/back.png');
    background-position: right center;
    background-repeat: repeat-y;   
}

body, #__next {
    min-height: 100vh;
}

#__next {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-row {
    display: flex;
    justify-content: space-between;
}

#__next > footer, section, #__next > div > header {
    padding-right: $side_paddings;
    padding-left: $side_paddings;
}

section {
    margin-top: 4.69vw;
}

#__next > div main {
    margin-bottom: 4.69vw;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
    font-family: var(--font-unifraktur-cook);
}

h1 {
    font-size: 3.56em;
}

h2 {
    font-size: var(--big-font-size);
}

h3 {
    font-size: var(--m-font-size);
}

.next-error-h1 {
    font-size: var(--big-font-size) !important;

    & ~ div h2 {
        font-size: var(--m-font-size) !important;
    }
}

.news-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2.6vw;
}

#mojubali {
    width: 6.09vw;
    height: 2.81vw;
    margin-left: .52vw;
    transition: transform .2s ease-in;

    &:hover {
        transform: scale(1.05);
    }
}